# Lab 01

- Scaling
    - Min-Max Normalize
    - Standard Normalize(z-score)
- Sampleing
    - Random up-down sampling
    - SMOTE
- Dimensionality Reduction
    - PCA
- Categorical Variable to Numerical Variable 
    - Label Encoding
    - One-Hot Encoding

## 예제 1

### 예제 1: 라이브러리 임포트

In [1]:
import os
from os.path import join
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

### 예제 1: 데이터 위치 및 컬럼 정보 등록

In [3]:
abalone_path = join('data', 'abalone.txt')
column_path = join('data', 'abalone_attributes.txt')

In [4]:
abalone_columns = list()
for l in open(column_path):
    abalone_columns.append(l.strip())

In [5]:
# Column 명
abalone_columns

['Sex',
 'Length',
 'Diameter',
 'Height',
 'Whole weight',
 'Shucked weight',
 'Viscera weight',
 'Shell weight',
 'Rings']

### 예제 1: 데이터 로딩

In [6]:
data = pd.read_csv(abalone_path, header=None, names=abalone_columns)
label = data['Sex']

In [7]:
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [8]:
data.shape

(4177, 9)

In [9]:
#DataSet에서 Sex 컬럼 삭제
#df.drop(컬럼리스트)
del data['Sex']

In [11]:
#Sex 컬럼 삭제 후, 데이터 셋 형상
data.shape

(4177, 8)